node_modules
*.vsix
themes/comment.txt
themes/tach.html
themes/colors.less
themes/colors.css
themes/base.less

themes/tach.css
themes/Color Coffee_Dark-purple-theme.json
themes/Color-Coffee_Light-color-theme.json
